.builder-panel {
  width: 100%;
  max-width: 100px;
  border: 1px solid;
  margin-right: 16px;
}

.row-buider {
  min-height: 200px;
}

.changable-wrapper {
  border: 1px solid red;
  position: relative;

  &__button-block {
    position: absolute;
    bottom: 0;
    width: fit-content;
    right: 0;
  }
}

[data-changable] {
  border: 1px solid;
  position: relative;
}

.adjust-container {
  padding: 20px;
  min-height: 100px;
  background: red;
  position: absolute;
  width: fit-content;
  bottom: 0;
  right: 0;
  transform: translate(0, 100%);
}
